/* 
#FFFFFF - primary-color
#F4F4F4 - secondary-color
#28A745 - primary-accent
#0284D0 - secondary-accent
#333333 - text-color
#E9E9E9 - title-color
#808080 - send-text
*/

:root {
  --primary-color: #ffffff;
  --secondary-color: #f4f4f4;
  --primary-accent: #28a745;
  --secondary-accent: #0284d0;
  --text-color: #333333;
  --title-color: #e9e9e9;
  --send-text: #808080;

  /* --text-size: 18px; */
    /* можно добавить */
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: var(--text-size); */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Секция Яны */
/* Provide */

.provide {
  
}

.provide-container {
  display: flex;
}

.provide-img {
}

.provide-right-side {
  background-color: var(--primary-accent);
}

.provide-desc {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--primary-color);
}

.provide-title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--primary-color);
}

.provide-text {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
}

.provide-btn {
  padding: 11px 27px 12px 42px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  background-color: var(--primary-accent);
  color: var(--primary-color);
}

/* Секція Іллі */

.social-date {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: #212121;
}

.social-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #212121;
}

.social-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #212121;
}

.modal-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #0284d0;
  color: #212121;
  color: #212121;
}

/* Daryna */
.upper-paragraph {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--text-color);
}
.head-text {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--text-color);
}
.lower-paragraph {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--text-color);
}